table {
  border-collapse: collapse;
}

.bloc-table {
  margin: auto;
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  margin-top: 50px;
  overflow: auto;
}

.bloc-table thead th {
  position: sticky;
  top: 0;
  background-color: #193650;
  color: #e6e7e8;
  font-size: 15px;
  font-family: var(--font-title);
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
  height: 10vh;
}

td {
    font-family: var(--font-body);
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  color: #e79759;
  cursor: pointer;
  background-color: #ffffff;
}
