@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
  --primary-blue: #183650;
  --primary-orange: #E89759;
  --primary-gray: #F0F0F0;
  --primary-dark-gray: #464646;

  --secondary-black: #0A1E30;
  --secondary-orange: #E77620; 
  --secondary-gray: #787878; 

  --font-title: 'Montserrat', sans-serif; 
  --font-body: 'Hind', sans-serif;

}

* {
  margin: O auto;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-gray);
}

.App {
  text-align: center;
}