.agence {
  /* display: flex;
  justify-content: center; */
  margin-top: 60px;
}

.descriptif {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.col-container {
  display: flex;
}

.col-gauche {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: start;
  justify-content: center;
}

.col-droite {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.col-milieu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 60%;
    margin-left: 100px;
}
.annonce {
  display: flex;
  align-items: center;
  font-size: 19px;
}

.annonce span {
  padding: 15px;
}
.col-gauche span {
  padding: 7px;
  display:inline-block;
}

.col-droite span {
  padding: 8px;
}

.join {
    padding: 1.3em 3em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-color: #193650;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 90px;
    margin-top: 15px;
  }
  
 .join:hover {
    background-color: #E79759;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
.join:active {
    transform: translateY(-1px);
  }

  .info {
      display: flex;
      align-items: center;
      width: 60%;
      border-top: double;
      margin-top: 20px;
  }

  .equipe {
    font-size: 18px;
    font-weight: bold;
    border-top: double;
  }


  .demande {
    font-size: 18px;
    font-weight: bold;
    border-top: double;
  }

  .language {
    font-size: 18px;
    font-weight: bold;
    border-top: double;
  }

  .entreprise {
    font-size: 18px;
    font-weight: bold;
  }
